
\______ \ |__| ____ |__|/  |______  |  |
 |    |  \|  |/ ___\|  \   __\__  \ |  |
 |    `   \  / /_/  >  ||  |  / __ \|  |__
/_______  /__\___  /|__||__| (____  /____/
        \/  /_____/               \/
__________                                                   __  .__
\______   \_______   ____   ______ ______________  _______ _/  |_|__| ____   ____
 |     ___/\_  __ \_/ __ \ /  ___// __ \_  __ \  \/ /\__  \\   __\  |/  _ \ /    \
 |    |     |  | \/\  ___/ \___ \\  ___/|  | \/\   /  / __ \|  | |  (  <_> )   |  \
 |____|     |__|    \___  >____  >\___  >__|    \_/  (____  /__| |__|\____/|___|  /
                        \/     \/     \/                  \/                    \/
 _______          __                       __
 \      \   _____/  |___  _  _____________|  | __
 /   |   \_/ __ \   __\ \/ \/ /  _ \_  __ \  |/ /
/    |    \  ___/|  |  \     (  <_> )  | \/    <
\____|__  /\___  >__|   \/\_/ \____/|__|  |__|_ \
        \/     \/                              \/
 ********************************************************
 * This server is configured using Ansible.
 * Please make all major system level configuration
 * changes via our Ansible Playbooks
 *
 * Deployed Using:
 *    * Playbook: {{ playbook_name }}
*     * Last Run: {{ template_run_date }}
 *
 * See server admins for location
 ********************************************************
