
   _____ _____________________                      __
  /  _  \\______   \__    ___/______ __ __  _______/  |_
 /  /_\  \|     ___/ |    |  \_  __ \  |  \/  ___/\   __\
/    |    \    |     |    |   |  | \/  |  /\___ \  |  |
\____|__  /____|     |____|   |__|  |____//____  > |__|
        \/                                     \/

 ********************************************************
 * This server is configured using Ansible.
 * Please make all major system level configuration
 * changes via our Ansible Playbooks
 *
 * Deployed Using:
 *    * Playbook: {{ playbook_name }}
*     * Last Run: {{ template_run_date }}
 *
 * See server admins for location
 ********************************************************
