# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

{{RAILS_ENV}}:
#    RAILS_ENV: {{RAILS_ENV}}
      DPN_RELEASE: "{{DPNSERVER_RELEASE}}"
      FLUCTUS_API_USER: "{{fluctus_api_user}}"
      FLUCTUS_API_KEY: "{{fluctus_api_key}}"

      # Credentials for DPN REST servers.
      # DPN_REST_TOKEN is for our own local server.
      DPN_REST_TOKEN: "{{dpn_rest_token}}"
      DPN_CHRON_TOKEN: "{{dpn_chron_token}}"
      DPN_HATHI_TOKEN: "{{dpn_hathi_token}}"
      DPN_SDR_TOKEN: "{{dpn_sdr_token}}"
      DPN_TDR_TOKEN: "{{dpn_tdr_token}}"

      # Rails-specific stuff
      DPN_DEVISE_SECRET_KEY: "{{dpn_devise_secret_key}}"
      DPN_SECRET_KEY: "{{dpn_secret_key}}"
      DPN_CIPHER_KEY: "{{dpn_cipher_key}}"
      DPN_CIPHER_IV: "{{dpn_cipher_iv}}"
      DPN_NAMESPACE: "{{dpn_namespace}}"
      DPN_API_ROOT: "{{dpn_api_root}}"
      DPN_STAGING_DIR: "{{dpn_staging_dir}}"
      DPN_REPO_DIR: "{{dpn_repo_dir}}"
      DPN_QUEUE_ADAPTER: "{{dpn_queue_adapter}}"
      DPN_TRANSFER_PRIVATE_KEY: "{{dpn_transfer_private_key}}"


      # Database settings
      DPN_DB_ADAPTER: "{{dpnserver_db_adapter}}"
      DPN_DB_PORT: "{{dpnserver_db_port}}"
      DPN_DB_NAME: "{{dpnserver_db_name}}"
      DPN_DB_HOSTNAME: "{{dpnserver_db_hostname}}"
      DPN_DB_USER: "{{dpnserver_db_user}}"
      DPN_DB_PASSWORD: "{{dpnserver_db_pwd}}"

      # Email settings
      AWS_SES_USER: "{{aws_ses_user}}"
      AWS_SES_PASSWORD: "{{aws_ses_pwd}}"
