{
  "fixity_alg":[
    "sha256",
    "md5"
  ],
  "protocol":[
    "rsync"
  ],
  "storage_region": [
    "default"
  ],
  "storage_type": [
    "default"
  ],
    "node": {
    {% for item in dpnserver_nodes %}
        "{{item}}": {
            namespace: "{{item}}",
            name: "{{ dpnserver_nodes[item].name}}", # Note this need *not* be the canonical name
            storage_type: "{{dpnserver_nodes[item].storage_type}}",
            storage_region: "{{dpnserver_nodes[item].storage_region}}",
            fixity_algs: ["md5","sha256"],
            protocols: ["rsync"],
            api_root: "{{dpnserver_nodes[item].api_root}}",
            private_auth_token: "{{dpnserver_nodes[item].token}}",
            auth_credential: "{{dpnserver_nodes[item].credential}}",
            ssh_pubkey: "{{dpnserver_nodes[item].ssh_key}}",
            },
   {% endfor %}
    }
}

