demo:
  secret_key_base: <%= ENV["DPN_SECRET_KEY"] %>
  salt: sodium_chloride
  cipher_key: <%= ENV["DPN_CIPHER_KEY"] %>
  cipher_iv: <%= ENV["DPN_CIPHER_IV"] %>
  local_namespace: <%= ENV["DPN_NAMESPACE"] %>
  local_api_root: <%= ENV["DPN_API_ROOT"] %>
  staging_dir: <%= ENV["DPN_STAGING_DIR"] %>
  repo_dir: <%= ENV["DPN_REPO_DIR"] %>
  transfer_private_key: <%= ENV["DPN_TRANSFER_PRIVATE_KEY"] %>

production:
  secret_key_base: <%= ENV["DPN_SECRET_KEY"] %>
  salt: sodium_chloride
  cipher_key: <%= ENV["DPN_CIPHER_KEY"] %>
  cipher_iv: <%= ENV["DPN_CIPHER_IV"] %>
  local_namespace: <%= ENV["DPN_NAMESPACE"] %>
  local_api_root: <%= ENV["DPN_API_ROOT"] %>
  staging_dir: <%= ENV["DPN_STAGING_DIR"] %>
  repo_dir: <%= ENV["DPN_REPO_DIR"] %>
  transfer_private_key: <%= ENV["DPN_TRANSFER_PRIVATE_KEY"] %>
