# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

{{RAILS_ENV}}:
#    RAILS_ENV: {{RAILS_ENV}}
    PHAROS_DB_HOST: "{{pharos_db_host}}"
    PHAROS_DB_USER: "{{pharos_db_user}}"
    PHAROS_DB_PWD: "{{pharos_db_pwd}}"
    PHAROS_RELEASE: "{{PHAROS_RELEASE}}"
    DEVISE_SECRET_KEY: "{{pharos_devise_key}}"
    RAILS_SECRET_KEY: "{{pharos_rails_key}}"
    SECRET_KEY_BASE: "{{pharos_rails_key}}"
    AWS_SES_USER: "{{pharos_aws_ses_user}}"
    AWS_SES_PWD:  "{{pharos_aws_ses_pwd}}"
