- name: Set PHP tunables
  lineinfile: dest=/etc/php5/fpm/php.ini
              regexp="^;?{{item.key}}"
              line="{{item.key}} = {{item.value}}"
              backup=yes
  with_dict: "{{tunables|default({})}}"

- name: Add suhosin apt key
  apt_key:
    url: "https://sektioneins.de/files/repository.asc"
    state: present

- name: Install Xenial PHP packages
  apt: name={{item}} state=latest
  with_items: "{{php_xenial_packages|default([])}}"
  when: ansible_distribution_release == 'xenial'
  tags: phpinstall
  notify:
    - nginx reload
    - php-fpm restart

- name: Install Trusty PHP packages
  apt: name={{item}} state=latest
  with_items: "{{php_trusty_packages|default([])}}"
  when: ansible_distribution_release == 'trusty'
  tags: phpinstall
  notify:
    - nginx reload
    - php5-fpm restart

- name: enable nginx and php5-fpm
  service: name={{item}} enabled=yes state=started
  with_items:
    - php5-fpm
    - nginx
  when: ansible_distribution_release == 'trusty'

- name: enable nginx and php-fpm
  service: name={{item}} enabled=yes state=started
  with_items:
    - php7.0-fpm
    - nginx
  when: ansible_distribution_release == 'xenial'

# On Ubuntus this is usually a TCP port. We'd rather use a unix socket...
- name: set php5-fpm socket location
  lineinfile:
    dest: /etc/php5/fpm/pool.d/www.conf
    regexp: '^listen ?='
    line: 'listen = /var/run/php5-fpm.sock'
  when: ansible_distribution_release == 'trusty'
  notify:
  - php5-fpm restart

# On Ubuntus this is usually a TCP port. We'd rather use a unix socket...
- name: set php-fpm socket location
  lineinfile:
    dest: /etc/php/7.0/fpm/pool.d/www.conf
    regexp: '^listen ?='
    line: 'listen = /var/run/php5-fpm.sock'
  when: ansible_distribution_release == 'xenial'
  notify:
  - php-fpm restart
