{% if hostvars[inventory_hostname]['group_names'] | difference('monitoring_servers') %}
object Host "{{ hostvars[inventory_hostname]['ansible_fqdn'] }}" {
  import "generic-host"
  address = "{{ hostvars[inventory_hostname].host_eip|default(hostvars[inventory_hostname]['ansible_default_ipv4']['address'])}}"
  vars.os = "{{ hostvars[inventory_hostname]['ansible_system'] }}"
  vars.os_family = "{{ hostvars[inventory_hostname]['ansible_os_family'] }}"

  # Here Goes Vars and check_command
  {{ host_attributes }}

}

  {{ host_checks }}

{% else %}
# This is a monitoring server entry. No checks will be copied.
{% endif %}
