# Configuration for psdash client/agent
# This tells our agent what server to report to,
# and sets the host name it will report as.
#
# Be sure to whitelist environment vars, otherwise,
# psdash will send all env vars, and some of those
# contain info we don't want to share.

PSDASH_REGISTER_TO = "https://{{ psdash_host_address }}:5000"
PSDASH_REGISTER_AS = "{{ inventory_hostname }}"
PSDASH_ENVIRON_WHITELIST = ['GOPATH', 'RAILS_ENV', 'SOLR_URL', 'FEDORA_URL', 'FEDORA_NAMESPACE']
PSDASH_LOGS = ['/var/log/boot.log', '/var/log/cloud-init.log', '/var/log/dmesg.log',
               '/var/log/lastlog', '/mnt/apt/logs/*.log', '/mnt/apt/logs/*.json',
               '/mnt/apt/logs/ingest_failures/*', '/var/www/test.aptrust.org/fluctus/log/*',
               '/var/www/repository.aptrust.org/fluctus/log/*', '/var/log/tomcat7/*.log',
               '/var/log/apache2/*.log']

# Need these settings so agent can register with server
PSDASH_AUTH_USERNAME = "{{ lookup('env','PSDASH_USER') }}"
PSDASH_AUTH_PASSWORD = "{{ lookup('env','PSDASH_PWD') }}"
