;; This config file should *NOT* go on the go ingest/restore
;; servers, since those have to run a number of go services.
;; This should go on the live and test Rails servers and on
;; the rsync server.

;; psdash monitoring listens on port 5000
[program:psdash]
{% if psdash_role == 'agent' %}
command={{psdash_home}}/bin/psdash --agent
{% else %}
command="{{psdash_home}}/bin/psdash"
{% endif %}
environment=PATH="{{psdash_home}}/bin",PSDASH_CONFIG="{{psdash_home}}/.psdash_config.py"
priority=100
autostart=true
