# Configuration for psdash server (web ui)
#
# Be sure to whitelist environment vars, otherwise,
# psdash will send all env vars, and some of those
# contain info we don't want to share.

PSDASH_REGISTER_AS = "{{ inventory_hostname }}"
PSDASH_ENVIRON_WHITELIST = ['GOPATH', 'RAILS_ENV', 'SOLR_URL', 'FEDORA_URL', 'FEDORA_NAMESPACE']
PSDASH_LOGS = ['/var/log/boot.log', '/var/log/cloud-init.log', '/var/log/dmesg']

PSDASH_AUTH_USERNAME = "{{ lookup('env','PSDASH_USER') }}"
PSDASH_AUTH_PASSWORD = "{{ lookup('env','PSDASH_PWD') }}"

PSDASH_HTTPS_KEYFILE = "/home/{{ system_default_user }}/psdash/certs/key.pem"
PSDASH_HTTPS_CERTFILE = "/home/{{ system_default_user }}/psdash/certs/cert.pem"

PSDASH_NODES = [
    {'name': 'test.aptrust.org', 'host': '54.84.48.153', 'port': 5000},
    {'name': 'repository.aptrust.org', 'host': '54.172.115.2', 'port': 5000},
    {'name': 'Test Ingest/Restore', 'host': '52.0.57.87', 'port': 5000},
    {'name': 'Live Ingest', 'host': '54.175.97.3', 'port': 5000},
    {'name': 'Live Restore', 'host': '54.175.41.111', 'port': 5000}]
