# Configuration for psdash server (web ui)
#
# Be sure to whitelist environment vars, otherwise,
# psdash will send all env vars, and some of those
# contain info we don't want to share.

PSDASH_REGISTER_AS = "{{ inventory_hostname }}"
PSDASH_ENVIRON_WHITELIST = ['GOPATH', 'RAILS_ENV', 'SOLR_URL', 'FEDORA_URL', 'FEDORA_NAMESPACE']
PSDASH_LOGS = ['/var/log/boot.log', '/var/log/cloud-init.log', '/var/log/dmesg']

PSDASH_AUTH_USERNAME = "{{ lookup('env','PSDASH_USER') }}"
PSDASH_AUTH_PASSWORD = "{{ lookup('env','PSDASH_PWD') }}"

PSDASH_HTTPS_KEYFILE = "/home/{{ system_default_user }}/psdash/certs/key.pem"
PSDASH_HTTPS_CERTFILE = "/home/{{ system_default_user }}/psdash/certs/cert.pem"
