{
	"Comment": "Config file for APTrust {{GO_ENV}} server.",

	"TarDirectory": "{{ex_tardirectory}}",
	"RestoreDirectory": "{{ex_restoredirectory}}",
	"LogDirectory": "{{ex_logdirectory}}",
	"ReplicationDirectory": "{{ex_replicationdirectory}}",
	"MaxFileSize": "{{ex_maxfilesize}}",
	"SkipAlreadyProcessed": "{{ex_skipalreadyprocessed | default ('')}}",
	"DeleteOnSuccess": "{{ex_deleteonsuccess}}",
	"LogToStderr": "{{ex_logtostderr}}",
	"VolumeServicePort": "{{ex_volumeserviceport}}",
	"LogLevel": "{{ex_loglevel}}",
	"BucketReaderCacheHours": "{{ex_bucketreadercachehours}}",
	"BagValidationConfigFile": "{{ex_bagvalidationconfigfile}}",

	"BagItVersion": "{{ex_bagitversion}}",
	"BagItEncoding": "{{ex_bagitencoding}}",

	"PharosURL": "{{ex_pharosurl}}",
	"PharosAPIVersion": "{{ex_pharosapiversion}}",

	"NsqdHttpAddress": "{{ex_nsqdhttpaddress}}",
	"NsqLookupd": "{{ex_nsqlookupd}}",

	"APTrustS3Region": "{{ex_aptrusts3region}}",
	"APTrustGlacierRegion": "{{ex_aptrustglacierregion}}",
	"PreservationBucket": "{{ex_preservationbucket}}",
	"ReplicationBucket": "{{ex_replicationbucket}}",
	"CustomRestoreBucket": "{{ex_customrestorebucket}}",
	"RestoreToTestBuckets": "{{ex_restoretotestbuckets}}",
	"MaxDaysSinceFixityCheck": "{{ex_maxdayssincefixitycheck}}",

	"FetchWorker": {
		"NetworkConnections": {{ex_fetchworker.networkconnections}},
		"Workers": {{ex_fetchworker.workers}},
		"NsqTopic": "{{ex_fetchworker.nsqtopic}}",
		"NsqChannel": "{{ex_fetchworker.nsqchannel}}",
		"MaxAttempts": {{ex_fetchworker.maxattempts}},
		"MaxInFlight": {{ex_fetchworker.maxinflight}},
		"HeartbeatInterval": "{{ex_fetchworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_fetchworker.readtimeout}}",
		"WriteTimeout": "{{ex_fetchworker.writetimeout}}",
		"MessageTimeout": "{{ex_fetchworker.messagetimeout}}"
	},

	"StoreWorker": {
		"NetworkConnections": {{ex_storeworker.networkconnections}},
		"Workers": {{ex_storeworker.workers}},
		"NsqTopic": "{{ex_storeworker.nsqtopic}}",
		"NsqChannel": "{{ex_storeworker.nsqchannel}}",
		"MaxAttempts": {{ex_storeworker.maxattempts}},
		"MaxInFlight": {{ex_storeworker.maxinflight}},
		"HeartbeatInterval": "{{ex_storeworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_storeworker.readtimeout}}",
		"WriteTimeout": "{{ex_storeworker.writetimeout}}",
		"MessageTimeout": "{{ex_storeworker.messagetimeout}}"
	},

	"RecordWorker": {
		"NetworkConnections": "{{ex_recordworker.networkconnections}}",
		"Workers": "{{ex_recordworker.workers}}",
		"NsqTopic": "{{ex_recordworker.nsqtopic}}",
		"NsqChannel": "{{ex_recordworker.nsqchannel}}",
		"MaxAttempts": "{{ex_recordworker.maxattempts}}",
		"MaxInFlight": "{{ex_recordworker.maxinflight}}",
		"HeartbeatInterval": "{{ex_recordworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_recordworker.readtimeout}}",
		"WriteTimeout": "{{ex_recordworker.writetimeout}}",
		"MessageTimeout": "{{ex_recordworker.messagetimeout}}"
	},

	"ReplicationWorker": {
    "NetworkConnections": "{{ex_replicationworker.networkconnections}}",
    "Workers": "{{ex_replicationworker.workers}}",
    "NsqTopic": "{{ex_replicationworker.nsqtopic}}",
    "NsqChannel": "{{ex_replicationworker.nsqchannel}}",
    "MaxAttempts": "{{ex_replicationworker.maxattempts}}",
    "MaxInFlight": "{{ex_replicationworker.maxinflight}}",
    "HeartbeatInterval": "{{ex_replicationworker.heartbeatinterval}}",
    "ReadTimeout": "{{ex_replicationworker.readtimeout}}",
    "WriteTimeout": "{{ex_replicationworker.writetimeout}}",
    "MessageTimeout": "{{ex_replicationworker.messagetimeout}}"
	},

	"RestoreWorker": {
    "NetworkConnections": "{{ex_restoreworker.networkconnections}}",
    "Workers": "{{ex_restoreworker.workers}}",
    "NsqTopic": "{{ex_restoreworker.nsqtopic}}",
    "NsqChannel": "{{ex_restoreworker.nsqchannel}}",
    "MaxAttempts": "{{ex_restoreworker.maxattempts}}",
    "HeartbeatInterval": "{{ex_restoreworker.heartbeatinterval}}",
    "ReadTimeout": "{{ex_restoreworker.readtimeout}}",
    "WriteTimeout": "{{ex_restoreworker.writetimeout}}",
    "MessageTimeout": "{{ex_restoreworker.messagetimeout}}"
	},

	"FileDeleteWorker": {
	  "NetworkConnections": "{{ex_filedeleteworker.networkconnections}}",
		"Workers": "{{ex_filedeleteworker.workers}}",
		"NsqTopic": "{{ex_filedeleteworker.nsqtopic}}",
		"NsqChannel": "{{ex_filedeleteworker.nsqchannel}}",
		"MaxAttempts": "{{ex_filedeleteworker.maxattempts}}",
		"MaxInFlight": "{{ex_filedeleteworker.maxinflight}}",
		"HeartbeatInterval": "{{ex_filedeleteworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_filedeleteworker.readtimeout}}",
		"WriteTimeout": "{{ex_filedeleteworker.writetimeout}}",
		"MessageTimeout": "{{ex_filedeleteworker.messagetimeout}}"

	},

	"FixityWorker": {
	  "NetworkConnections": "{{ex_fixityworker.networkconnections}}",
		"Workers": "{{ex_fixityworker.workers}}",
		"NsqTopic": "{{ex_fixityworker.nsqtopic}}",
		"NsqChannel": "{{ex_fixityworker.nsqchannel}}",
		"MaxAttempts": "{{ex_fixityworker.maxattempts}}",
		"MaxInFlight": "{{ex_fixityworker.maxinflight}}",
		"HeartbeatInterval": "{{ex_fixityworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_fixityworker.readtimeout}}",
		"WriteTimeout": "{{ex_fixityworker.writetimeout}}",
		"MessageTimeout": "{{ex_fixityworker.messagetimeout}}"
	},

	"ReceivingBuckets": [
      {% for item in ex_receivingbuckets -%}
      {% if not loop.last %}
          "{{item}}",
      {% endif %}
      {%- endfor %}
	],

	"DPN": {
		"LocalNode": "aptrust",
		"LogDirectory": "/mnt/efs/dpn/logs",
		"StagingDirectory": "/mnt/efs/dpn/staging",
		"RemoteNodeHomeDirectory": "/home",
		"LogLevel": 4,
		"LogToStderr": false,
		"ReplicateToNumNodes": 2,
		"DPNAPIVersion": "api-v2",
		"DPNPreservationBucket": "aptrust.dpn.test",
		"AcceptInvalidSSLCerts": false,
		"UseSSHWithRsync": true,
		"DPNGlacierRegion": "us-east-1",
		"BagValidationConfigFile": "config/dpn_bag_validation_config.json",
		"RestClient": {
			"Comment": "Settings for our local DPN REST API server. Load LocalAuthToken from environment!",
			"LocalServiceURL": "https://dpn-demo.aptrust.org/",
			"LocalAPIRoot": "api-v2",
			"LocalAuthToken": ""
		},
		"DefaultMetadata": {
			"Comment": "Config settings for common DPN bagit metadata",
			"BagItVersion": "0.97",
			"BagItEncoding": "UTF-8",
			"IngestNodeName": "APTrust",
			"IngestNodeAddress": "160 McCormick Rd., Charlottesville, VA 22904",
			"IngestNodeContactName": "APTrust Administrator",
			"IngestNodeContactEmail": "help@aptrust.org"
		},
		"comment": "Remote node admin tokens are ignored in this config.",
		"RemoteNodeAdminTokensForTesting": {
			"chron": "",
			"hathi": "",
			"sdr":   "",
			"tdr":   ""
		},
		"comment": "Set these in the environment, not here. Export DPN_<NODE>_TOKEN.",
		"RemoteNodeTokens": {
			"chron": "",
			"hathi": "",
			"sdr":   "",
			"tdr":   ""
		},
		"comment": "Remote node URLs in demo come from node records in the local REST service.",
		"RemoteNodeURLs": {
			"chron": "",
			"hathi": "",
			"sdr":   "",
			"tdr":   ""
		},
		"DPNPackageWorker": {
			"NetworkConnections": 8,
			"Workers": 4,
			"NsqTopic": "dpn_package_topic",
			"NsqChannel": "dpn_package_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		},
		"DPNValidationWorker": {
			"NetworkConnections": 8,
			"Workers": 4,
			"NsqTopic": "dpn_validation_topic",
			"NsqChannel": "dpn_validation_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		},
		"DPNCopyWorker": {
			"NetworkConnections": 8,
			"Workers": 4,
			"NsqTopic": "dpn_copy_topic",
			"NsqChannel": "dpn_copy_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		},
		"DPNIngestStoreWorker": {
			"NetworkConnections": 4,
			"Workers": 4,
			"NsqTopic": "dpn_ingest_store_topic",
			"NsqChannel": "dpn_ingest_store_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		},
		"DPNIngestRecordWorker": {
			"NetworkConnections": 4,
			"Workers": 4,
			"NsqTopic": "dpn_record_topic",
			"NsqChannel": "dpn_record_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		},
		"DPNReplicationStoreWorker": {
			"NetworkConnections": 4,
			"Workers": 4,
			"NsqTopic": "dpn_replication_store_topic",
			"NsqChannel": "dpn_replication_store_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		},
		"DPNRestoreWorker": {
			"NetworkConnections": 4,
			"Workers": 4,
			"NsqTopic": "dpn_restore_topic",
			"NsqChannel": "dpn_restore_channel",
			"MaxAttempts": 3,
			"MaxInFlight": 20,
			"HeartbeatInterval": "10s",
			"ReadTimeout": "60s",
			"WriteTimeout": "10s",
			"MessageTimeout": "180m"
		}
	}
}
