{
	"Comment": "Config file for APTrust {{GO_ENV}} server.",

	"TarDirectory": "{{ex_tardirectory}}",
	"RestoreDirectory": "{{ex_restoredirectory}}",
	"LogDirectory": "{{ex_logdirectory}}",
	"ReplicationDirectory": "{{ex_replicationdirectory}}",
	"MaxFileSize": {{ex_maxfilesize}},
	"SkipAlreadyProcessed": {{ex_skipalreadyprocessed | default ('')}},
	"DeleteOnSuccess": {{ex_deleteonsuccess}},
	"LogToStderr": {{ex_logtostderr}},
  "UseVolumeService": {{ex_usevolumeservice}}
	"VolumeServicePort": {{ex_volumeserviceport}},
	"LogLevel": {{ex_loglevel}},
	"BucketReaderCacheHours": {{ex_bucketreadercachehours}},
	"BagValidationConfigFile": "{{ex_bagvalidationconfigfile}}",

	"BagItVersion": "{{ex_bagitversion}}",
	"BagItEncoding": "{{ex_bagitencoding}}",

	"PharosURL": "{{ex_pharosurl}}",
	"PharosAPIVersion": "{{ex_pharosapiversion}}",

	"NsqdHttpAddress": "{{ex_nsqdhttpaddress}}",
	"NsqLookupd": "{{ex_nsqlookupd}}",

	"APTrustS3Region": "{{ex_aptrusts3region}}",
	"APTrustGlacierRegion": "{{ex_aptrustglacierregion}}",
	"PreservationBucket": "{{ex_preservationbucket}}",
	"ReplicationBucket": "{{ex_replicationbucket}}",
	"CustomRestoreBucket": "{{ex_customrestorebucket}}",
	"RestoreToTestBuckets": {{ex_restoretotestbuckets}},
	"MaxDaysSinceFixityCheck": {{ex_maxdayssincefixitycheck}},

	"FetchWorker": {
		"NetworkConnections": {{ex_fetchworker.networkconnections}},
		"Workers": {{ex_fetchworker.workers}},
		"NsqTopic": "{{ex_fetchworker.nsqtopic}}",
		"NsqChannel": "{{ex_fetchworker.nsqchannel}}",
		"MaxAttempts": {{ex_fetchworker.maxattempts}},
		"MaxInFlight": {{ex_fetchworker.maxinflight}},
		"HeartbeatInterval": "{{ex_fetchworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_fetchworker.readtimeout}}",
		"WriteTimeout": "{{ex_fetchworker.writetimeout}}",
		"MessageTimeout": "{{ex_fetchworker.messagetimeout}}"
	},

	"StoreWorker": {
		"NetworkConnections": {{ex_storeworker.networkconnections}},
		"Workers": {{ex_storeworker.workers}},
		"NsqTopic": "{{ex_storeworker.nsqtopic}}",
		"NsqChannel": "{{ex_storeworker.nsqchannel}}",
		"MaxAttempts": {{ex_storeworker.maxattempts}},
		"MaxInFlight": {{ex_storeworker.maxinflight}},
		"HeartbeatInterval": "{{ex_storeworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_storeworker.readtimeout}}",
		"WriteTimeout": "{{ex_storeworker.writetimeout}}",
		"MessageTimeout": "{{ex_storeworker.messagetimeout}}"
	},

	"RecordWorker": {
		"NetworkConnections": {{ex_recordworker.networkconnections}},
		"Workers": {{ex_recordworker.workers}},
		"NsqTopic": "{{ex_recordworker.nsqtopic}}",
		"NsqChannel": "{{ex_recordworker.nsqchannel}}",
		"MaxAttempts": {{ex_recordworker.maxattempts}},
		"MaxInFlight": {{ex_recordworker.maxinflight}},
		"HeartbeatInterval": "{{ex_recordworker.heartbeatinterval}}",
		"ReadTimeout": "{{ex_recordworker.readtimeout}}",
		"WriteTimeout": "{{ex_recordworker.writetimeout}}",
		"MessageTimeout": "{{ex_recordworker.messagetimeout}}"
	},

	"ReplicationWorker": {
            "NetworkConnections": {{ex_replicationworker.networkconnections}},
            "Workers": {{ex_replicationworker.workers}},
            "NsqTopic": "{{ex_replicationworker.nsqtopic}}",
            "NsqChannel": "{{ex_replicationworker.nsqchannel}}",
            "MaxAttempts": {{ex_replicationworker.maxattempts}},
            "MaxInFlight": {{ex_replicationworker.maxinflight}},
            "HeartbeatInterval": "{{ex_replicationworker.heartbeatinterval}}",
            "ReadTimeout": "{{ex_replicationworker.readtimeout}}",
            "WriteTimeout": "{{ex_replicationworker.writetimeout}}",
            "MessageTimeout": "{{ex_replicationworker.messagetimeout}}"
	},

	"RestoreWorker": {
            "NetworkConnections": {{ex_restoreworker.networkconnections}},
            "Workers": {{ex_restoreworker.workers}},
            "NsqTopic": "{{ex_restoreworker.nsqtopic}}",
            "NsqChannel": "{{ex_restoreworker.nsqchannel}}",
            "MaxAttempts": {{ex_restoreworker.maxattempts}},
            "MaxInFlight": {{ex_restoreworker.maxinflight}},
            "HeartbeatInterval": "{{ex_restoreworker.heartbeatinterval}}",
            "ReadTimeout": "{{ex_restoreworker.readtimeout}}",
            "WriteTimeout": "{{ex_restoreworker.writetimeout}}",
            "MessageTimeout": "{{ex_restoreworker.messagetimeout}}"
	},

	"FileDeleteWorker": {
            "NetworkConnections": {{ex_filedeleteworker.networkconnections}},
            "Workers": {{ex_filedeleteworker.workers}},
            "NsqTopic": "{{ex_filedeleteworker.nsqtopic}}",
            "NsqChannel": "{{ex_filedeleteworker.nsqchannel}}",
            "MaxAttempts": {{ex_filedeleteworker.maxattempts}},
            "MaxInFlight": {{ex_filedeleteworker.maxinflight}},
            "HeartbeatInterval": "{{ex_filedeleteworker.heartbeatinterval}}",
            "ReadTimeout": "{{ex_filedeleteworker.readtimeout}}",
            "WriteTimeout": "{{ex_filedeleteworker.writetimeout}}",
            "MessageTimeout": "{{ex_filedeleteworker.messagetimeout}}"

	},

	"FixityWorker": {
            "NetworkConnections": {{ex_fixityworker.networkconnections}},
            "Workers": {{ex_fixityworker.workers}},
            "NsqTopic": "{{ex_fixityworker.nsqtopic}}",
            "NsqChannel": "{{ex_fixityworker.nsqchannel}}",
            "MaxAttempts": {{ex_fixityworker.maxattempts}},
            "MaxInFlight": {{ex_fixityworker.maxinflight}},
            "HeartbeatInterval": "{{ex_fixityworker.heartbeatinterval}}",
            "ReadTimeout": "{{ex_fixityworker.readtimeout}}",
            "WriteTimeout": "{{ex_fixityworker.writetimeout}}",
            "MessageTimeout": "{{ex_fixityworker.messagetimeout}}"
	},

	"ReceivingBuckets": [
      {% for item in ex_receivingbuckets -%}
      {% if not loop.last %}
         "{{item}}",
      {% else %}
         "{{item}}"
      {%- endif %}
      {%- endfor %}
	],

	"DPN": {
		"LocalNode": "{{ex_dpn.localnode}}",
		"LogDirectory": "{{ex_dpn.logdirectory}}",
		"StagingDirectory": "{{ex_dpn.stagingdirectory}}",
		"RemoteNodeHomeDirectory": "{{ex_dpn.remotenodehomedirectory}}",
		"LogLevel": {{ex_dpn.loglevel}},
		"LogToStderr": {{ex_dpn.logtostderr}},
		"ReplicateToNumNodes": {{ex_dpn.replicatetonumnodes}},
		"DPNAPIVersion": "{{ex_dpn.dpnapiversion}}",
		"DPNPreservationBucket": "{{ex_dpn.dpnpreservationbucket}}",
		"AcceptInvalidSSLCerts": {{ex_dpn.acceptinvalidsslcerts}},
		"UseSSHWithRsync": {{ex_dpn.usesshwithrsync}},
		"DPNGlacierRegion": "{{ex_dpn.dpnglacierregion}}",
		"BagValidationConfigFile": "{{ex_dpn.bagvalidationconfigfile}}",
		"RestClient": {
			"Comment": "{{ex_dpn_restclient.comment}}",
			"LocalServiceURL": "{{ex_dpn_restclient.localserviceurl}}",
			"LocalAPIRoot": "{{ex_dpn_restclient.localapiroot}}",
			"LocalAuthToken": "{{ex_dpn_restclient.localauthtoken}}"
		},
		"DefaultMetadata": {
			"Comment": "{{ex_dpn_defaultmetadata.comment}}",
			"BagItVersion": "{{ex_dpn_defaultmetadata.bagitversion}}",
			"BagItEncoding": "{{ex_dpn_defaultmetadata.bagitencoding}}",
			"IngestNodeName": "{{ex_dpn_defaultmetadata.ingestnodename}}",
			"IngestNodeAddress": "{{ex_dpn_defaultmetadata.ingestnodeaddress}}",
			"IngestNodeContactName": "{{ex_dpn_defaultmetadata.ingestnodecontactname}}",
			"IngestNodeContactEmail": "{{ex_dpn_defaultmetadata.ingestnodecontactemail}}"
		},
		"comment": "Remote node admin tokens are ignored in this config.",
		"RemoteNodeAdminTokensForTesting": {
			"chron": "{{ex_dpn_remotenodeadmintokensfortesting.chron}}",
			"hathi": "{{ex_dpn_remotenodeadmintokensfortesting.hathi}}",
			"sdr":   "{{ex_dpn_remotenodeadmintokensfortesting.sdr}}",
			"tdr":   "{{ex_dpn_remotenodeadmintokensfortesting.tdr}}"
		},
		"comment": "Set these in the environment, not here. Export DPN_<NODE>_TOKEN.",
		"RemoteNodeTokens": {
			"chron": "{{ex_dpn_remotenodetokens.chron}}",
			"hathi": "{{ex_dpn_remotenodetokens.hathi}}",
			"sdr":   "{{ex_dpn_remotenodetokens.sdr}}",
			"tdr":   "{{ex_dpn_remotenodetokens.tdr}}"
		},
		"comment": "Remote node URLs in demo come from node records in the local REST service.",
		"RemoteNodeURLs": {
			"chron": "{{ex_dpn_remotenodeurls.chron}}",
			"hathi": "{{ex_dpn_remotenodeurls.hathi}}",
			"sdr":   "{{ex_dpn_remotenodeurls.sdr}}",
			"tdr":   "{{ex_dpn_remotenodeurls.tdr}}"
		},
		"DPNPackageWorker": {
			"NetworkConnections": {{ex_dpn_dpnpackageworker.networkconnections}},
			"Workers": {{ex_dpn_dpnpackageworker.workers}},
			"NsqTopic": "{{ex_dpn_dpnpackageworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpnpackageworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpnpackageworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpnpackageworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpnpackageworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpnpackageworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpnpackageworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpnpackageworker.messagetimeout}}"
		},
		"DPNValidationWorker": {
			"NetworkConnections": {{ex_dpn_dpnvalidationworker.networkconnections}},
			"Workers": {{ex_dpn_dpnvalidationworker.workers}},
			"NsqTopic": "{{ex_dpn_dpnvalidationworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpnvalidationworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpnvalidationworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpnvalidationworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpnvalidationworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpnvalidationworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpnvalidationworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpnvalidationworker.messagetimeout}}"
		},
		"DPNCopyWorker": {
			"NetworkConnections": {{ex_dpn_dpncopyworker.networkconnections}},
			"Workers": {{ex_dpn_dpncopyworker.workers}},
			"NsqTopic": "{{ex_dpn_dpncopyworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpncopyworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpncopyworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpncopyworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpncopyworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpncopyworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpncopyworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpncopyworker.messagetimeout}}"
		},
		"DPNIngestStoreWorker": {
			"NetworkConnections": {{ex_dpn_dpningeststoreworker.networkconnections}},
			"Workers": {{ex_dpn_dpningeststoreworker.workers}},
			"NsqTopic": "{{ex_dpn_dpningeststoreworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpningeststoreworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpningeststoreworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpningeststoreworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpningeststoreworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpningeststoreworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpningeststoreworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpningeststoreworker.messagetimeout}}"
		},
		"DPNIngestRecordWorker": {
			"NetworkConnections": {{ex_dpn_dpningestrecordworker.networkconnections}},
			"Workers": {{ex_dpn_dpningestrecordworker.workers}},
			"NsqTopic": "{{ex_dpn_dpningestrecordworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpningestrecordworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpningestrecordworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpningestrecordworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpningestrecordworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpningestrecordworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpningestrecordworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpningestrecordworker.messagetimeout}}"
		},
		"DPNReplicationStoreWorker": {
			"NetworkConnections": {{ex_dpn_dpnreplicationstoreworker.networkconnections}},
			"Workers": {{ex_dpn_dpnreplicationstoreworker.workers}},
			"NsqTopic": "{{ex_dpn_dpnreplicationstoreworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpnreplicationstoreworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpnreplicationstoreworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpnreplicationstoreworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpnreplicationstoreworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpnreplicationstoreworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpnreplicationstoreworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpnreplicationstoreworker.messagetimeout}}"
		},
		"DPNRestoreWorker": {
			"NetworkConnections": {{ex_dpn_dpnrestoreworker.networkconnections}},
			"Workers": {{ex_dpn_dpnrestoreworker.workers}},
			"NsqTopic": "{{ex_dpn_dpnrestoreworker.nsqtopic}}",
			"NsqChannel": "{{ex_dpn_dpnrestoreworker.nsqchannel}}",
			"MaxAttempts": {{ex_dpn_dpnrestoreworker.maxattempts}},
			"MaxInFlight": {{ex_dpn_dpnrestoreworker.maxinflight}},
			"HeartbeatInterval": "{{ex_dpn_dpnrestoreworker.heartbeatinterval}}",
			"ReadTimeout": "{{ex_dpn_dpnrestoreworker.readtimeout}}",
			"WriteTimeout": "{{ex_dpn_dpnrestoreworker.writetimeout}}",
			"MessageTimeout": "{{ex_dpn_dpnrestoreworker.messagetimeout}}"
		}
	}
}
