#jinja2: trim_blocks: True, lstrip_blocks: True
#{{ansible_managed}}

{% for item in nsqservices %}

[program:{{ item }}]
command=/usr/local/sbin/{{ item }} {%if item == 'nsqadmin'%}-lookupd-http-address 0.0.0.0:4161  {% else %} {% if item == 'nsqlookupd' %}-tcp-address="0.0.0.0:4160"{%endif%} -config {{ goapp_cfg_path }}/nsq/{{GO_ENV}}.config {% endif %}
environment=GOPATH="{{go_env.GOPATH}}",EXCHANGE_HOME="{{goapp_src_path}}",PATH="$PATH:{{goapp_bin_path}}:/usr/local/go/bin:/usr/local/sbin"

autostart=true
autorestart=true
startretries=10
startsecs=5
directory={{ goapp_bin_path }}
user={{ system_default_user }}
stdout_logfile={{goapp_log_path}}/{{ item }}.stdout.log
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10

stderr_logfile={{goapp_log_path}}/{{ item }}.stderr.log
stderr_logfile_maxbytes=50MB
stdout_logfile_backups=10
{% endfor %}

[group:nsqservices]
programs={% for item in nsqservices %}{{item}}{% if not loop.last %},{% endif %}{% endfor %}

